@model ForgotPassword
<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div> <!-- container -->
</div>
<!--====== Breadcrumb Part Ends ======-->
<!--====== Login Part Start ======-->
<section class="login-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Forgot Password</h4>
                    <form class="form-signin" method="post">
                        <div class="single-form">
                            <input asp-for="User.Email" class="form-control" placeholder="Email address">
                        </div>
                        <div class="single-form">
                            <button type="submit" class="main-btn main-btn-2">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Login Part Ends ======-->