@model RegisterVM
@{
    Layout = "_Layout";
}
<!--====== Register Part Start ======-->
<section class="register-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                @if (TempData["RegisterSuccess"] != null)
                {
                    <div class="alert alert-success"> @TempData["RegisterSuccess"]</div>
                }
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Creat New Account</h4>
                    <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div class="single-form">
                            <input asp-for="FirstName" placeholder="First Name">
                        </div>
                        <div class="single-form">
                            <input asp-for="LastName" placeholder="Last Name">
                        </div>
                        <div class="single-form">
                            <input asp-for="Email" placeholder="Email Address">
                        </div>
                        <div class="single-form">
                            <input asp-for="UserName" placeholder="Username">
                        </div>
                        <div class="single-form">
                            <label>Gender</label>
                            <select asp-for="Gender">
                                <option value="Woman">Woman</option>
                                <option value="Man">Man</option>
                            </select>
                        </div>
                        <div class="single-form">
                            <input asp-for="Password" placeholder="Password">
                        </div>
                        <div class="single-form">
                            <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                        </div>
                        <div class="custom-checkbox mt-30">
                            <input type="checkbox" id="account-1">
                            <label for="account-1"></label>
                            <p>Receive Offers From Our Partners</p>
                        </div>
                        <div class="custom-checkbox mt-30">
                            <input asp-for="Newsletter" id="account-2">
                            <label for="account-2"></label>
                            <p>Sign Up For Our Newsletter <br> Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers..</p>
                        </div>
                        <div class="single-form">
                            <button class="main-btn main-btn-2">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Register Part Ends ======-->